@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);

:root {
    --bl-r: 102;
    --bl-g: 204;
    --bl-b: 255;

    --blue: rgba(var(--bl-r), var(--bl-g), var(--bl-b), 1);
    --light-blue-glass:  rgba(var(--bl-r), var(--bl-g), var(--bl-b), 0.60);
    --blue-glass: rgba(var(--bl-r), var(--bl-g), var(--bl-b), 0.32);
    --dark-blue-glass: rgba(var(--bl-r), var(--bl-g), var(--bl-b), 0.24);


    --d-val: 17;
    --dark: rgba(0, var(--d-val), var(--d-val), 1);
    --dark-glass: rgba(0, calc(var(--d-val) * 0.4), calc(var(--d-val) * 0.6), 0.8);
    --test-color: navy;
    --test-glass: rgba(0, 0, 0, 0.8);

    --base-metric: 48px;
    --header-height: var(--base-metric);
    --base-margin: calc(var(--base-metric) / 2);

    --palette-item-size: 16px;
    --palette-width: calc(var(--palette-item-size) * 16)
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #000;
    color: var(--blue);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    cursor: default;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

header {
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--blue-glass);
    background: var(--test-glass);
}

.commands {
    float: right;
    height: var(--header-height);
    display: flex;
}
.commands > button {
    float: right;
    margin: 12px 6px;
    padding: 0 8px;
    border: 1px solid var(--blue-glass);
    color: var(--light-blue-glass);
}
.commands > button:last-child {
    margin-right: 14px;
}
.commands > button:hover {

}

h1 {
    z-index: 1;
    float: left;
    color: var(--dark);
    font-size: 30px;
    margin: 8px 0 0 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px var(--blue);
}

h2, h3, h4 { color: var(--blue); text-shadow: 1px 1px 3px var(--blue); }
h2 { font-size: 18px }

div.display {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
div.editor-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid var(--dark-blue-glass);
    --dim: max(80vh, 40vw);
    min-height: var(--dim);
    align-items: stretch;
}

div.editor {
    cursor: default;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    /* margin: var(--base-margin); */
    border-right: 1px solid #5a5a5a;
    border-bottom: 1px solid #5a5a5a;
    background: repeating-linear-gradient(
        -45deg,
        #606cbc5b,
        #606cbc50 5px,
        #4652984f 5px,
        #46529817 10px
    );
}

.editor > i {
    display: block;
    box-shadow: inset 1px 1px #5a5a5a;
    align-items: flex-start;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    border-left: 1px solid var(--blue-glass);
    height: var(--dim);
    padding: 8px; 
}

footer {
    flex-shrink: 1;
    width: 100%;
    align-self: flex-end;
    padding-left: 12px;
    font-weight: normal;
    border-top: 1px solid var(--blue-glass);
}

footer > div { 
    float: left;
    line-height: 18px;
    margin: 6px 12px;
}
footer > div:nth-child(2) { font-size: 12px; }

div.sidebar > h2 { margin: 0 0 12px 0 }
div.sidebar > h2 + div { margin-bottom: 24px; }

.palette {
    height: var(--palette-width);
    width: var(--palette-width);
    display: block;
    clear: both;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
}

.palette > div {
    height: var(--palette-item-size);
    width: var(--palette-item-size);
    padding: 0;
}

.palette > div:hover {
    cursor: copy;
}

.swatch {
    display: flex;
    width: var(--palette-width);
}

.recent-colors { 
   display: flex;
   flex-flow: row wrap;
}

.recent-colors > div {
    height: 14px;
    width: 14px;
    margin: 1px;
    float: left;
}

.current-color > div {
    border: 1px solid #a0a0a0;
    height: 28px;
    width: 28px;
    margin: 1px;
}

button {

    font-size: 14px;
    border: 1px solid var(--blue-glass);
    background-color: var(--dark-glass);
    color: var(--light-blue-glass);
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-glass);
}

button.selected {
    color: var(--blue);
    background-color: var(--blue-glass);
}

.tools > button {
    height: 24px;
    width: 32px;
}

.modal-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal {
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    border: 1px solid var(--blue-glass);
    background-color: #000;
    height: 50%;
    width: 50%;
    margin: 20% auto;
    padding: 20px;
}

.modal > h2 {
    border-bottom: 1px solid var(--blue-glass);
}

.modal > form {
    flex-grow: 1;
    padding-top: 20px;
}

.modal > form > span {
    display: block;
    float: left;
    width: 20%;
    margin-bottom: 12px;
}

.modal > form > input {
    width: 40%;
    clear: right;
    margin-bottom: 12px;
    margin-right: 20%;
    background-color: var(--dark-blue-glass);
    border: 1px solid var(--blue-glass);
    color: var(--light-blue-glass);
    font-size: 14px;
    padding: 2px;
}

.modal > div.buttons {
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
}


.hidden { display: none }